/* @import url('https://fonts.googleapis.com/css2?family=Kalam&family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap'); */

@font-face {
	font-family: 'MainLight';
	src: url('/fonts/HKNova-LightR.woff') format('woff');
}

@font-face {
	font-family: 'MainExtraLight';
	src: url('/fonts/HKNova-ExtraLightR.woff') format('woff');
}
@font-face {
	font-family: 'MainRegular';
	src: url('/fonts/HKNova-RegularR.woff') format('woff');
}

@font-face {
	font-family: 'MainSemiBold';
	src: url('/fonts/HKNova-SemiBoldR.woff') format('woff');
}

:root {
	--col-text-main: #2c3e50;
	--col-text-main-darkpurple: #423151;
	--col-text-lighter: #5a5a71;
	--col-text-sec: #99a3ba;
	--col-text-placeholder: #cbd1dc;
	--col-bg-main: #f7f8ff;
	--col-bg-gray: #cdd9ed;
	--col-bg-light: #faf0f0;
	--col-bg-sec: #eef4ff;
	--col-bg-color: hsla(0, 0%, 88%, 0.393);
	--col-disabled: #dcdbdb;
	--col-info: #00bcd4;
	--col-info-2: #2ae1e1;
	--col-success: #8fffb4;
	--col-lightgreen: #63db8f;
	--col-warning: #ffc107;
	--col-danger: #ff5a5f;
	--col-active: #678efe;
	--col-white: #fff;
	--col-purple-dark: #1b0e30;
	--img-overlay-gradient-main: linear-gradient(
		to bottom,
		hsla(220, 65%, 25%, 0.2),
		hsla(240, 11%, 40%, 0.607)
	);
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--col-text-main);
	font-family: 'MainRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'MainRegular', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: var(--col-text-main);
	background-color: var(--col-bg-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'MainSemiBold', sans-serif;
	color: var(--col-text-main-darkpurple);
	margin-bottom: 0.5rem;
}
p{
	margin-bottom: 1rem;
	font-family: 'MainRegular', sans-serif;
	color: var(--col-text-main);
}
a {
	text-decoration: none;
	color: rgb(14, 9, 19);
}
a:focus,
input:focus {
	outline: 1px solid var(--col-active);
}
label {
	color: var(--col-text-main-darkpurple);
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.04rem;
	/* text-transform: uppercase; */
}
label span {
	font-size: 0.75rem;
	color: rgb(144, 143, 143);
	/* font-style: italic; */
}
input,
textarea {
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: none;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	font-size: 1rem;
	color: var(--col-text-main);
	font-family: 'MainRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
textarea {
	width: 100%;
	resize: none;
	overflow-y: scroll;
	border-radius: 0.25rem;
}
button {
	padding: 0.5rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #1b0e30;
	color: #fff;
	cursor: pointer;
	min-width: 80px;
	text-transform: uppercase;
}
button:disabled {
	background-color: #ccc;
	color: #fff;
	pointer-events: none;
}
img {
	max-width: 100%;
	height: auto;
}
.btns__c {
	text-align: end;
}
.danger {
	background-color: var(--col-danger);
}
.info {
	background-color: var(--col-active);
}
/* AVATAR */
.avatar__w {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-bottom: 1rem;
}
.avatar__w button {
	margin-top: 0.5rem;
	width: 100px;
}
.avatar__img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 0.25rem;
}
.dash-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #1b0e30;
	color: rgb(255, 255, 255);
}
.dash-header h1 {
	color: #fff;
}
/* EditorJS styles */

.codex-editor__redactor {
	padding-bottom: 2rem !important;
}

.ce-block__content {
	margin: 0;
}
.rte-img-centered {
	text-align: -webkit-center;
}
